@import 'styles/variables.scss';


.login-page-1 {
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('/static/viktor-forgacs-1145586-unsplash.jpg');
  background-size: cover;
}

.login-page-2 {
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('/static/bg2.jpeg');
  background-size: cover;
}

.login-page-3 {
  background-image: linear-gradient(to bottom, rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('/static/bg3.jpeg');
  background-size: cover;
}