.CompactIdea {
  border-bottom: none;
  border-top: none !important;
}

.CompactIdea:hover {
  cursor: pointer;
}


.CompactIdea .image {
  width: 100px;
  height: 50px;
}

.CompactIdea img {
  border-radius: 5px;
  object-fit: cover;
  object-position: center center;
}


.CompactIdea .summary {
  font-family: 'IBM Plex Serif', serif;
  color: gray;
  font-weight: lighter;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

@media only screen and (max-width: 1000px) {
  .CompactIdea .media-left, .CompactIdea img {
    max-width: 60px;
  }
}