@import 'styles/variables.scss';

.register-page {
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1522092721080-6110b9eceb94);
}