.PostWizard.step-one {
  .column {
    transition: background-color 300ms ease;
    min-height: 400px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .emoji {
      font-size: 4rem;
    }
  }

  .column:hover {
    background-color: whitesmoke;
  }
}

.PostWizard.step-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;

  .field {
    width: 90%;
  }

  input {
    min-width: 100%;
  }

  .idea-case {
    width: 90%;
    margin-top: 30px;
  }
}