#page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#page #page-content {
  flex: 1;
}

#page.is-loading {
  position: relative;
}



.navbar {
  min-height: 53px;
  background-color: #ECEFF1;
}

.date-item {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: -0.5px;
  font-size: 14px !important;
}

.navbar-item {
  letter-spacing: -0.5px;
  font-size: 14px !important;
}

.navbar-item .button {
  letter-spacing: -0.5px;
  font-size: 14px !important;
}


.navbar-item.is-logo {
  position: absolute;
  left: 50%;
  margin-left: -51px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-item.is-logo img {
  max-height: 20px;
}

a.navbar-item.is-active, .navbar-link.is-active {
   color: $primary;
  background-color: #F3F3F3 !important;
}

.join-link {
  color: #51B8D9
}

.topic-nav {
  background-color: white;
  overflow-x: auto;
  min-height: 56px !important;
  border-top: 1px solid #ECEFF1;
  border-bottom: 1px solid #ECEFF1;
}

.topic-nav .container {
  padding-left: 10%;
  padding-right: 10%;
}

.topic-nav > .level {
  min-height: 56px !important;
}

a {
  color: #6292EE;
}

a:hover {
  color: rgb(64, 123, 233)
}

.topic-link {
  margin-bottom: 0px;
  color: black;
  height: 56px;
  transition: background-color 0.3s ease-in-out;
}

.topic-link:hover {
  background-color: whitesmoke;
}

.topic-link.active {
  color: #6292EE;
}

.unread-dot {
  margin-left: 5px;
  margin-bottom: 1px;
  height: 5px;
  width: 5px;
  background-color: #51B8D9;
  border-radius: 50%;
  display: inline-block;
}

.navbar-burger {
  right: 0;
  height: 53px;
}

@media screen and (min-width: 1088px) {
  .navbar-burger {
    display: block;
  }

}


#body {
  padding-top: 20px;
  margin-bottom: 30px;
}

.top-stories {

}

.top-stories img {
  border-radius: 5px;
}

.article-media {

}

.article-media img {
  margin-bottom: 15px;
}

.article-media .title {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.article-title {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.article-summary {
  font-family: 'IBM Plex Serif', serif;
  color: gray;
  font-weight: lighter;
  margin-top: -1rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.article-media .subtitle.summary {
  font-family: 'IBM Plex Serif', serif;
  color: gray;
  font-weight: lighter;
  margin-top: -0.8rem;
  margin-bottom: 0.8rem;
}

.small-article-media {
  border-bottom: none;
  border-top: none !important;
}

.small-article-media:hover {
  cursor: pointer;
}


.small-article-media .image {
  width: 100px;
  height: 50px;
}

.response {
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.alert-info {
  border: 1px solid;
  border-color: #5bc0de;
  background-color: #5bc0de;
  color: white !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  border-radius: 3px;
  font-size: 14px;
  font-weight: bold;
  animation: fadein 1s;
}

.alert {
  min-height: 30px;
  padding: 9px 10px 9px 20px;
  word-wrap: break-word;
  display: inline-block
}

.has-vertically-centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title, .subtitle {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.image-box {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(http://www.yourenergyblog.com/wp-content/uploads/2013/08/nuclear-energy1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.image-box .title, .image-box .subtitle {
  color: white !important;
}

.question:hover {
  transform: scale(1.02);
}

.is-circle {
  border: 1px solid transparent;
  border-radius: 50%;
}

.question {
  cursor: pointer;
  transition: all 0.3s ease;
}

.is-oswald {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase
}

.main-hero {
  border-radius: 5px;
  border: 1px solid #51B8D9;
}

footer {
  margin-top: 30px;

  a {
    color: #6292EE !important;
    font-size: 15px;
  }
}

footer .level-left img.logo {
  max-height: 25px;
}

.is-pretty {
  letter-spacing: -1px;
  font-family: system-ui;
}

.is-hv-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  #page-content > .container {
    margin: 10px;
  }
}
